body {
    font-family: sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

p.caption {
    margin-top: 1em;
    white-space: pre-wrap;
}

p.post-link {
    font-size: 0.8em;
    text-align: center;
    margin-top: 2em;
}